<div class="row center-xs">
    <div class="col-xs-12 limit-area">
        <section class="header-page mt15">
            <div class="row">
                <div class="col back">
                    <div class="icon-button-back">
                    </div>
                </div>
                <div class="col title">Profile</div>
                <div class="col other">
                    <div class="icon-button-edit">
                    </div>
                </div>
            </div>
        </section>
        <section class="screen-scroll">
            <div class="device mt20">
                ss         
            </div>
        </section>
    </div>
</div>
<app-bottom-nav-bar></app-bottom-nav-bar>