.header-page {
    display: table;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.header-page > * {
    display: table-row;
}
  
.header-page .col {
    display: table-cell;
}

.header-page .back {
    text-align: left;
    width: 50px;
    color: black;
}

.header-page .back svg {
    vertical-align: middle;
}

.header-page .other svg {
    vertical-align: middle;
}

.header-page .other {
    text-align: right;
    width: 50px;
    color: black;
}

.header-page .title {
    text-align: center;
    vertical-align: middle;
}
.device {
    background: #fff;
    border-radius: 5px;
}
.card-device {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ededed;
    position: relative;
    overflow: hidden;
    
}
.card-device div svg  {
    vertical-align: middle;
    color: rgb(148, 148, 148);
}
