.device {
    background: #fff;
    border-radius: 5px;
}
.card-device {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ededed;
    position: relative;
    overflow: hidden;
    
}
.card-device div svg  {
    vertical-align: middle;
    color: rgb(148, 148, 148);
}
