/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #e8f0f2;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  color: #053742;
  user-select: none;
}

button,
input,
text-area,
.mat-snackbar {
  font-family: "Poppins", sans-serif !important;
}

.btn-primary {
  background-color: #39a2db !important;
  color: #fff !important;
}

.limit-area {
  max-width: 750px;
}

.header-page {
  display: table;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.header-page > * {
  display: table-row;
}

.header-page .col {
  display: table-cell;
}

.header-page .back {
  text-align: left;
  width: 50px;
  color: #053742;
}

.header-page .back div svg {
  vertical-align: middle;
}

.header-page .other div svg {
  vertical-align: middle;
}

.header-page .other {
  text-align: right;
  width: 50px;
  color: #053742;
}

.header-page .title {
  text-align: center;
  vertical-align: middle;
  color: #053742;
}

.icon-button-edit {
  background: transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 5px;
  margin-left: auto;
}

.icon-button-back {
  background: transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 5px;
}

.icon-button-edit > svg, .icon-button-back > svg {
  margin-top: -3px;
}

.btn-primary {
  background-color: #39A2DB;
  border: none;
  font-weight: 300;
  font-size: 14px;
}

.mat-dialog-container {
  border-radius: 5px !important;
  padding: 15px !important;
}

.dummy {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.dummy:before {
  content: "";
  position: absolute;
  background: lightgray;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dummy:after {
  content: "Logo " attr(width) "x" attr(height);
  white-space: pre;
  color: gray;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - 0.7em);
  font-size: 100%;
}
.dummy.alt:after {
  content: attr(alt);
}
